body { padding: 0; margin: 0 }
#unity-container { position: absolute }
#unity-container.unity-desktop { float:left; width:100%; height:100vh; display:flex; align-items:center; justify-content:center; }
#unity-container.unity-mobile { width: 100%; height: 100%; display:flex; align-items:center; justify-content:center; }
#unity-canvas { background-color: black; }
.unity-mobile #unity-canvas { width: 100%; height: 100% }
/* #unity-loading-bar { width:100%; max-width:512px; display: none; margin:0 auto;} */
/* #unity-logo { width: 65%; height: 40%; background-image: url('logo.png'); background-repeat:no-repeat; background-position:center; background-size:contain; margin: 0 auto; position: absolute; top: 10%; left: 0; right: 0;  } */
#unity-progress-bar-empty { width:808px; height: 103px; background-image: url('progressBar.png'); background-repeat:no-repeat; background-position:center; background-size:cover; margin:0 auto; max-width:100%;  position: absolute; bottom: 15%; left: 0; right: 0; }
#unity-progress-bar-full { 
  width:0%; 
  height: 100%; 
  max-width:100%;  
  border-image-source: url('progressFiller.png');
  border-image-slice:50 fill;
  border-image-width:50px;
  border-image-outset:0px;
  border-image-repeat:stretch stretch;
}

.borderDiv {
  width:100%; 
  height: 100%; 
}

#unity-background {
  background: url('bg.jpg');
  width:100%; 
  height:100%; 
  position:absolute; 
  background-repeat:no-repeat; 
  object-fit: cover;
}


@font-face {
  font-family: gameFont;
  src: url(design.graffiti.comicsansmsgras.ttf);
}

p#loadingInfo {
  color: #fff;
  letter-spacing: 1px;
  position: absolute;
  width: 100%;
  font-family: gameFont;
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
  bottom: 60%;
  white-space: nowrap;
}

@media screen and (min-width:1800px) {
  #unity-progress-bar-empty 
  {
    bottom: 6%;
  }
}
